:root {
  --decade1-black: #1E1E1E;
  --decade1-gray: #3d3d3d;
  --decade1-sand: #f1eadd;
  --decade1-line: #1E1E1E;
  --decade1-dot: #1E1E1E;

  --decade2-white: #f1eadd;
  --decade2-black: #212322;
  --decade2-yellow: #C9B173;
  --decade2-red: #BB5747;
  --decade2-green: #A7A787;
  --decade2-blue: #6A7C8E;
  --decade2-pink: #B55C71;
  --decade2-line: #6A7C8E;
  --decade2-dot: #6A7C8E;

  --decade3-brown: #3B2C2F;
  --decade3-white: #f0f0f0;
  --decade3-green: #B4C7B1;
  --decade3-line: #B4C7B1;
  --decade3-dot: #B4C7B1;

  --decade4-black: #1E1E1E;
  --decade4-white: #fffffaf1;
  --decade4-blue: #E6F2FA;
  --decade4-line: #1E1E1E;
  --decade4-dot: #1E1E1E;

  --decade5-white: #f7faff;
  --decade5-blue: #5B72DC;
  --decade5-darkblue: #1D3BB1;
  --decade5-line: #5B72DC;
  --decade5-dot: #5B72DC;


  --decade6-white: #fff;
  --decade6-blue: #3fb2cf;
  --decade6-line: #3fb2cf;
  --decade6-dot: #3fb2cf;

}

html {
  interpolate-size: allow-keywords;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100dvh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  border: none;
  height: 1px;
  background: var(--border);
}

.disabled {
  pointer-events: none;
  filter: grayscale(1);
}

.disabled:hover {
  cursor: not-allowed;
}

input:hover {
  cursor: pointer;
}