/* -------------------------- */
/* PERIOD INTRO */
/* -------------------------- */

section ul li .period-intro {
  position: absolute;
  top: 3rem;
  left: var(--inline-padding);
  display: grid;
  gap: 0.5rem;
  z-index: 100;
}

/* -------------------------- */
/* ZERO LINE */
/* -------------------------- */

section ul li .zero-line {
  position: absolute;
  top: 50%;
  right: 0;
  height: 4px;
  width: 100%;
  translate: 0 -50%;
  pointer-events: none;
}

/* -------------------------- */
/* CONTENT CONTIANERS */
/* -------------------------- */

.top-content,
.bottom-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: 10;
}

.top-content {
  bottom: 50%;
}

.bottom-content {
  top: 50%;
}

/* -------------------------- */
/* GENERAL SET UP */
/* -------------------------- */

section ul li article {
  position: absolute;
  aspect-ratio: 1 / 1.25;
  width: 20vw;
  /* background: yellow; */
}

section ul li .top-content article {
  bottom: 0;
}

section ul li .bottom-content article {
  top: 0;
}

section ul li article .text-container {
  position: absolute;
  display: grid;
  gap: 0.5rem;
}

section ul li article .text-container h3 {
  font-size: 1.2vw;
}

section ul li article .text-container p {
  font-size: 0.66vw;
  line-height: 1.5em;
}

section ul li article span {
  --dash-line: red;
  --dash-gap: 6px;
  display: block;
  position: absolute;
  width: 2px;
  background: repeating-linear-gradient(to bottom,
      var(--dash-line) 0px,
      var(--dash-line) var(--dash-gap),
      transparent var(--dash-gap),
      transparent calc(var(--dash-gap) * 2));
}

section ul li .top-content article span {
  bottom: 0;
}

section ul li .bottom-content article span {
  top: 0;
}

section ul li article span::before,
section ul li article span::after {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--decade1-black);
  left: 50%;
  z-index: 1;
}

section ul li article span::after {
  width: 1.75rem;
  background: white;
  border: 8px solid var(--decade1-black);
}

section ul li .top-content article span::before {
  top: 0;
  translate: -50% -50%;
}

section ul li .top-content article span::after {
  bottom: 0;
  translate: -50% 50%;
}

section ul li .bottom-content article span::before {
  bottom: 0;
  translate: -50% 50%;
}

section ul li .bottom-content article span::after {
  top: 0;
  translate: -50% -50%;
}

section ul li article img {
  position: absolute;
}

section ul li article .glass-container {
  position: absolute;
  background: rgba(136, 136, 136, 0.2);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.563);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  z-index: -1;
}

section ul li article .glass-container div {
  position: absolute;
  inset: -10px;
}

section ul li article .glass-container div:nth-of-type(1)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--decade6-white) 5%, transparent 5%, transparent 95%, var(--decade6-white) 95%);
}

section ul li article .glass-container div:nth-of-type(1)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(95deg, var(--decade6-white) 5%, transparent 5%, transparent 95%, var(--decade6-white) 95%);
}

section ul li article .glass-container div:nth-of-type(2)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, var(--decade6-white) 5%, transparent 5%, transparent 95%, var(--decade6-white) 95%);
}

section ul li article .glass-container div:nth-of-type(2)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, var(--decade6-white) 5%, transparent 5%, transparent 95%, var(--decade6-white) 95%);
}


li>img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ========================================== */
/* CHART CONTAINER */
/* ========================================== */

li .chart-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  z-index: 100;
  pointer-events: auto;
}


/* ========================================== */
/* INTERACT */
/* ========================================== */

article:has(.interact) {
  cursor: help;
}

.interact {
  position: relative;
  padding-left: 2rem;
}

.interact::before {
  content: '';
  position: absolute;
  width: .6vw;
  aspect-ratio: 1;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  background: red;
  border-radius: 50%;
}

.interact::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: .6vw;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid 2px blue;
  animation: pulse ease 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    scale: 0;
  }

  100% {
    opacity: 0;
    scale: 3;
  }
}